body
{
	position: relative;
	margin: 0px;	
}

#container
{
	height: 100vh;
	min-width: 1000px;
	min-height: 1px;
	background-image: linear-gradient(#00FFFF, #00FF00, #FFA500);
}

#header
{
	resize: both;
  overflow: auto;
}

.genshin-logo
{
	resize: both;
    overflow: auto;
	font-size: 70px;
	color: red;
	text-decoration: none;
	padding-left: 3%;
	padding-right: 5%; 
}

.search-input-box
{
	resize: both;
    overflow: auto;
	width: 40%;
	padding-left: 5px;
	border-radius: 20px;
}

.search-button
{
	resize: both;
    overflow: auto;
	background-color: pink;
	width: auto;
}

.search-button:hover 
{
	background-color: purple
}

.profileimage
{
	resize: both;
    overflow: auto;
	padding-left: 2%;
	padding-right: 1%;
	width: 5%;	
}
.shopcart
{
	resize: both;
    overflow: auto;
	padding-left: 1%;
	padding-right: 3%;
	width: 5%;
}

#navbar
{
	background-image: linear-gradient(to left, green, yellow, orange, red);
	padding-top: 10px;
	padding-bottom: 10px;
}

#navbar > ul 
{
  float: center;
  list-style-type: none;
  margin: auto;
  padding: 0;
  text-align: center;
}

#navbar > ul > li
{
	display: inline-block;
}

#navbar > ul > li > a
{ 
	padding-left: 50px; padding-right: 50px; padding-top: 5px; padding-bottom: 5px;
	color: black;
	font-weight: bold;
	font-size: 20px;
	text-decoration: none;
}

#navbar > ul > li > a:hover
{
	border: solid 2px black;
	border-radius: 40px;
}

#slidebar
{
	
	padding-bottom: 100px;
}

#hastag
{
	padding-bottom: 500px;
}

#footer
{
	text-align: center;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
	font-size: 18px;
}
	