body
{
	margin: 0px;
}

#container
{
	overflow: auto;
	height: 100vh;
	min-width: 768px;
	min-height: 1px;
	background-color: #696969;
	
}

/* Fejléc rész */
#header
{
	min-width: 1200px;
	max-height: 100px;
	position: sticky;
	resize: both;
    overflow: auto;
	background-color: #43AA8B;
}

	.genshin-logo
	{
		resize: both;
		overflow: auto;
		font-size: 70px;
		color: red;
		text-decoration: none;
		padding-left: 3%;
		padding-right: 5%; 
	}

	.search-input-box
	{
		resize: both;
		overflow: auto;
		width: 40%;
		padding-left: 10px;
		border-radius: 20px;
		padding-right: 10px;
	}
	
	.search-input-box:active
	{
		background-color: black;
	}

	.search-button
	{
		resize: both;
		overflow: auto;
		background-color: pink;
		width: auto;
	}

	.search-button:hover 
	{
		background-color: purple
	}

	.profileimage
	{
		resize: both;
		overflow: auto;
		padding-left: 2%;
		padding-right: 2%;
		width: 5%;	
		float: right;
		padding-top: 15px;
	}
	.shopcart
	{
		resize: both;
		overflow: auto;
		padding-left: 1%;
		padding-right: 5%;
		width: 5%;
		float: right;
		padding-top: 15px;
	}
 
/* navigációs sáv */
#navbar
{
	min-width: 1000px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #F5F5F5;
}
	#navbar > ul 
	{
	  float: center;
	  list-style-type: none;
	  margin: auto;
	  padding: 0;
	  text-align: center;
	}

	#navbar > ul > li
	{
		display: inline-block;
	}
	
	#navbar > ul > li > a
	{ 
		padding-left: 50px; padding-right: 50px; padding-top: 5px; padding-bottom: 5px;
		color: black;
		font-weight: bold;
		font-size: 20px;
		text-decoration: none;
	}

	#navbar > ul > li > a:hover
	{
		border: solid 2px black;
		border-radius: 40px;
	}

/* Kiemelt ajánlatok lapozó */
#slideshow
{
	width: 500px;
	margin: auto;
	text-align: center;
	padding-bottom: 10px;
}

	.slideshowimage
	{
		width: 500px;
		height: 300px;
	}

	.slideshowBtnLeft, .slideshowBtnRight
	{
		width: 50px;
		height: 30px;
	}


/* Fő rész */
#hastag
{
	padding-bottom: 450px;
}

/* Lábléc rész */
#footer
{
	position: fixed;
    left: 0;
    bottom: 0;
	text-align: center;
	padding-bottom: 10px;
	width: 100%;
	font-size: 18px;
	background-color: #51BBFE;
}

/* Login panel */
#loginpanel
{
	background-color: #FFFAFA;
	width: 300px;
	min-height: 300px;
	padding-top: 20px;
	color: red;
	line-height: 20px;
	font-size: 20px;
	font-weight: bold;
	margin: auto;
	text-align: center;
	padding-bottom: 10px;
	margin-top: 20vh;
	margin-bottom: 80px;
}

/* Register panel */
#registerpanel
{
	background-color: #FFFAFA;
	width: 300px;
	padding-top: 20px;
	color: red;
	line-height: 15px;
	font-size: 20px;
	font-weight: bold;
	margin: auto;
	text-align: center;
	padding-bottom: 10px;
	margin-top: 5vh;
	margin-bottom: 80px;
}

/* Forgetpassword */
#forgetpassword
{
	min-height: 100px;
	background-color: #FFFAFA;
	width: 300px;
	padding-top: 20px;
	margin: auto;
	text-align: center;
	line-height: 15px;
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 10px;
	margin-top: 30vh;
	margin-bottom: 80px;
}

.hrefunderline
{
	text-decoration: none;	
}

/* Product */
#product
{
	margin: auto;
	text-align: center;
	min-width: 650px;
	width: 70vw;
	margin-top: 20px;
	padding: 10px;
}

#product-top
{
	min-width: 650px;
	height: 375px;
	background-color: orange;
}

	.product-top 
	{
		float: left;
		height: 300px;
	}
	
		.producttopleft
		{
			width: 30vw;
			margin-right: 50px;
		}
		
			.product-top-left-img
			{
				margin-top: 25px;
				height: 300px;
			}
		
		.producttopright
		{
			width: 30vw;
		}
		
			.producttopright > p
			{
				line-height: 2.5;
				font-weight: bold;
				font-size: 20px;
			}

#product-middle
{
	background-color: gray;
	padding: 10px;
	margin-top: 20px;
	min-height: 500px;
}

#product-bottom
{
	background-color: #FAF0E6;
	padding: 10px;
	margin-top: 20px;
	min-height: 300px;
}

#opinion
{
	height: 250px;
	width: 50vw;
}

#opinionstartext
{
	margin: 0;
	padding-bottom: 5px;
}

/* Opinion stars */
.rate {
    height: 46px;
    padding: 0 10px;
}
	.rate:not(:checked) > input {
		position:absolute;
		top:-9999px;
	}
	.rate:not(:checked) > label {
		float:right;
		width:1em;
		overflow:hidden;
		white-space:nowrap;
		cursor:pointer;
		font-size:30px;
		color:#ccc;
	}
	.rate:not(:checked) > label:before {
		content: '★ ';
	}
	.rate > input:checked ~ label {
		color: #ffc700;    
	}
	.rate:not(:checked) > label:hover,
	.rate:not(:checked) > label:hover ~ label {
		color: #deb217;  
	}
	.rate > input:checked + label:hover,
	.rate > input:checked + label:hover ~ label,
	.rate > input:checked ~ label:hover,
	.rate > input:checked ~ label:hover ~ label,
	.rate > label:hover ~ input:checked ~ label {
		color: #c59b08;
	}