html {
	position: relative;
}

body
{
	margin: 0px;
	min-width: 1200px;
}
	
#container
{
	overflow: auto;
	height: 100vh;
	min-width: 768px;
	min-height: 100vh;
	background-color: #696969;
	display: flex;
	flex-direction: column;
	
}
/* Fejléc rész */
#header
{
	min-width: 1200px;
	overflow: auto;
	background-color: #20B2AA;
	height: 100%;
	padding-bottom: 5px;
}

	.genshin-logo
	{
		overflow: auto;
		font-size: 70px;
		color: #FA2605;
		text-decoration: none;
		padding-left: 5vw;
		padding-right: 7vw; 
	}

	.search-input-box
	{
		overflow: auto;
		width: 45vw;
		padding-left: 10px;
		border-radius: 20px;
		padding-right: 10px;
	}
	
	.search-input-box:active
	{
		background-color: white;
	}

	.search-button
	{
		overflow: auto;
		background-color: lightgrey;
		width: auto;
		height: auto;
		max-width:100%;
		max-height:100%;
	}

	.search-button:hover 
	{
		background-color: white;
	}

	.profileshopcartimage
	{
		padding-right: 10px;
		width: 5vw;	
		float: right;
		padding-top: 2vh;
	}

	.trash
	{
		width:25%;
		height:25%;
	}
 
nav
{
	min-height: 7%;
}

/* navigációs sáv */
#navbar
{
	min-width: 1200px;
	min-height: 50%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #F5F5F5;
}
	#navbar > ul 
	{
	  float: center;
	  list-style-type: none;
	  margin: auto;
	  padding: 0;
	  text-align: center;
	}

	#navbar > ul > li
	{
		display: inline-block;
	}
	
	#navbar > ul > li > a
	{ 
		padding-left: 50px; padding-right: 50px; padding-top: 5px; padding-bottom: 5px;
		color: black;
		font-weight: bold;
		font-size: 20px;
		text-decoration: none;
		border: solid 2px #F5F5F5;
		border-radius: 20px;
	}

	#navbar > ul > li > a:hover
	{
		border: solid 2px black;
		border-radius: 20px;
	}

	.dropdown {
		float: left;
		position: relative;
	}

	.dropdown .dropbtn {
		font-size: 16px;    
		border: none;
		outline: none;
		color: black;
		padding: 14px 16px;
		background-color: inherit;
		font-family: inherit;
		margin: 0;
	}

	.navbar a:hover, .dropdown:hover .dropbtn {
		background-color: red;
	}

	.dropdown-one {

		display: none;
		position: absolute;
		background-color: #f9f9f9;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	}

	.dropdown-two {
		display: none;
		position: absolute;
		left: 160px;
		top: 0px;
		min-width: 160px;
		background-color: #f9f9f9;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	}

	.dropdown:hover .dropdown-one, #link1:hover > .dropdown-two {
		display: block;
	}

	.dropdown-one .dItem {
		color: black;
		padding: 12px 16px;
		display: block;
		text-align: left;
	}
	
	.dItem > button
	{
		cursor: pointer;
		background-color: white;
		border: 0;
		min-width: 100px;
	}
	.dropdown-one .dItem:hover, .dropdown-two a:hover {
		background-color: #ddd;
	}

#block_container
{
    text-align:center;
    width: 80%;
    height: 500px;

    margin: auto;
  	padding: 10px;
}

#block1, #block2
{
    display:inline;
}

#block2
{
	margin: 10px;
	padding: 10px;
	min-height: 400px;
	min-width: 400px;
	width: 100%;
}

.webgl
{
	width: 90%;
	height: 500px;
}

.webgl2
{
	width: 90%;
	height: 500px;
}

.webgl3
{
	width: 90%;
	height: 500px;
}


/* Kiemelt ajánlatok lapozó */
.slidecontainer
{
	margin: auto;
	width: 70vw;
	height: 50vh;
}
.slideshowimage
{
	width: 70vw;
	height: 50vh;	
}

.slideshowBtnLeft, .slideshowBtnRight
{
	margin-left: 15vw;
	width: 12vw;
	height: 3vh;
}


/* Fő rész */
#hastag
{
	padding-bottom: 450px;
}

footer
{
	height: 2%;
	min-height: 22px;
}

/* Lábléc rész */
#footer
{
	height: 100%;
	text-align: center;
	margin-top: auto;
	font-size: 18px;
	background-color: #51BBFE;
}

/* Login panel */
#loginpanel
{
	background-color: #FFFAFA;
	width: 300px;
	min-height: 300px;
	padding-top: 20px;
	color: red;
	line-height: 20px;
	font-size: 20px;
	font-weight: bold;
	margin: auto;
	text-align: center;
	padding-bottom: 10px;
	margin-top: 20vh;
	margin-bottom: 80px;
}

/* Register panel */
#registerpanel
{
	background-color: #FFFAFA;
	width: 300px;
	padding-top: 20px;
	color: red;
	line-height: 15px;
	font-size: 20px;
	font-weight: bold;
	margin: auto;
	text-align: center;
	padding-bottom: 10px;
	margin-top: 5vh;
	margin-bottom: 80px;
}

/* Forgetpassword */
#forgetpassword
{
	min-height: 100px;
	background-color: #FFFAFA;
	width: 300px;
	padding-top: 20px;
	margin: auto;
	text-align: center;
	line-height: 15px;
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 10px;
	margin-top: 30vh;
	margin-bottom: 80px;
}

.hrefunderline
{
	text-decoration: none;	
}

/* Product */
#product
{
	margin: auto;
	text-align: center;
	min-width: 650px;
	width: 70vw;
	margin-top: 20px;
	padding: 10px;
}

#product-top
{
	min-width: 650px;
	height: 375px;
	background-color: orange;
}

	.product-top 
	{
		float: left;
		height: 300px;
	}
	
		.producttopleft
		{
			width: 30vw;
			margin-right: 50px;
		}
		
			.product-top-left-img
			{
				margin-top: 25px;
				height: 300px;
			}
		
		.producttopright
		{
			width: 30vw;
		}
		
			.producttopright > p
			{
				line-height: 2.5;
				font-weight: bold;
				font-size: 20px;
			}

#product-middle
{
	background-color: gray;
	padding: 10px;
	margin-top: 20px;
	min-height: 500px;
}

#product-bottom
{
	background-color: #FAF0E6;
	padding: 10px;
	margin-top: 20px;
	min-height: 300px;
}

	#product-bottom > table
	{
		width: 100%;
	}

	#product-bottom > table > tbody > tr > td
	{
		text-align: center;
		width: 30vw;
	}

#offers
{
	padding-left: 50px;
	background-color: #ff8700;
	width: 60vw;
	padding-top: 20px;
	margin: auto;
	line-height: 40px;
	font-size: 20px;
	margin-top: 10vh;
	margin-bottom: 80px;
}

	.offer-img > img
	{
		margin-top: 10px;
		width: 200px;
		height: 200px;
	}

		.offer-img:hover
		{
			background: white;
		}


	.offer-description
	{
		padding: 60px;
  		text-align: center;
	}

	.offer-sale
	{
		padding: 60px;
  		text-align: center;
  		font-weight: bold;
	}

#opinion
{
	height: 250px;
	width: 35vw;
}

#opinionstartext
{
	margin: 0;
	padding-bottom: 5px;
}

/* Opinion stars */
.rate {
    min-height: 35px;
    height: 46px;
	margin: auto;
  	width: 50%;
	text-align: center;
  	padding: 10px;
}
	.rate:not(:checked) > input {
		position:absolute;
		top:-9999px;
	}
	.rate:not(:checked) > label {
		float:right;
		width:1em;
		overflow:hidden;
		white-space:nowrap;
		cursor:pointer;
		font-size:30px;
		color:#ccc;
	}
	.rate:not(:checked) > label:before {
		content: '★ ';
	}
	.rate > input:checked ~ label {
		color: #ffc700;    
	}
	.rate:not(:checked) > label:hover,
	.rate:not(:checked) > label:hover ~ label {
		color: #deb217;  
	}
	.rate > input:checked + label:hover,
	.rate > input:checked + label:hover ~ label,
	.rate > input:checked ~ label:hover,
	.rate > input:checked ~ label:hover ~ label,
	.rate > label:hover ~ input:checked ~ label {
		color: #c59b08;
	}

/* Bevásárló kosár */
#shoppingcart
{
	padding-left: 50px;
	background-color: #FFFAFA;
	width: 75vw;
	padding-top: 20px;
	margin: auto;
	line-height: 15px;
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 10px;
	margin-top: 10vh;
	margin-bottom: 80px;
}
	#shoppingcart > img
	{
		margin-top: 10px;
		width: 150px;
		height: 100px;
	}
	
	#shoppingcart > table > tbody > tr > td
	{
		text-align: center;
		width: 20vw;
	}

.shoppingcart-trash
{
		margin-top: 10px;
		width: 120px;
		height: 120px;
}

.shoppingcart-img > img
{
		margin-top: 10px;
		width: 220px;
		height: 180px;
}


/* Bankkártya mentési rész */
.cardsave
{
	width: 360px;
    height: 250px;
	margin: auto;
	text-align: center;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 1px 2px 3px 0 rgba(0,0,0,.10);
	line-height: 30px;
}

	.cardnumber
	{
		margin-top: 30px;
	}
	
	.carddates
	{
		width: 120px;
		margin: auto;
	}
		.carddatesmonth
		{
			float: left;
		}
		
		.carddatesyear
		{
			float: right;
		}

/* Profil adat megváltoztatás */
#changeprofiledatas
{
	background-color: #FFFAFA;
	min-width: 400px;
	padding-top: 20px;
	color: red;
	line-height: 15px;
	font-size: 20px;
	font-weight: bold;
	margin: auto;
	text-align: center;
	padding-bottom: 10px;
	margin-top: 22vh;
	margin-bottom: 80px;
}
	#changeprofiledatas > table
	{
		margin: auto;
	}
	
	#changeprofiledatas > table > tbody > tr > th
	{
		padding-bottom: 20px;
	}